* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  top: 0;
  bottom: 0;
  background: url('https://mobimg.b-cdn.net/v3/fetch/cd/cd1344bffb763fc668fab1806f805e53.jpeg?w=1470&r=0.5625');
  background-size: cover;
}

/************************/

.foods {
  display: flex;
  width: 100vh;
  justify-content: space-between;
}
.food {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.ed {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 15px;
}

/******************************/


.user {
  display: flex;
  background: #f4c22d;
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: space-between;
}
