* {
    margin: 0;
    padding: 0;
}
.form {
    display: flex;
    justify-content: center;
    background-color: #979797;
    margin: 30px 0 0 30px;
    width: 340px;
    border-radius: 6px;
}
.label {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.click {
    margin:20px 0 10px 230px;
    width: 70px;
    border: 0;
    border-radius: 5px;
    background: #5370f0;
    color: #ffffff;
}
.input {
    border: 0;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 10px;
}